/* The :root selector allows you to target the highest-level “parent” element in the DOM, or document tree */
:root {
    --primary-color: #78350F;
    --secondary-color: #EC4899;
    color: white;
}

* {
    background-color: var(--primary-color);
    /* margin:Auto makes the whole app in centre */
    margin: auto;
}

.container {
    /* Flex displays an element as a flexible structure. The flex-direction property specifies the direction of the flexible items.
       The flexible items are displayed vertically, as a column*/
    display: flex;
    flex-direction: column;
    /* vh means viewport width. it means element will have a width that's 60% of the viewport size */
    width: 80%;
    margin: auto;
    text-align: center;
    /* 2rem will always be equal to 36px */
}

/* white-space is a CSS property that helps control how whitespace and line breaks within an element's text are treated. ... nowrap: Multiple whitespaces are collapsed into one, but the text doesn't wrap to the next line */
.heading {
    /* makes a text in a single line */
    display: inline-block;
    white-space: nowrap;
    padding: 1rem;
    color: #B45309;
    font-size: xx-large;
}

.description {
    display: inline-block;
    white-space: nowrap;
    padding: 1rem;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

/* we select id like this in CSS */
#bill-amount {
    padding: 1rem;
    width: 50%;
    border: 2px solid black;
    background-color: white;
    color: black;
}

#cash-given {
    padding: 1rem;
    width: 50%;
    border: 2px solid black;
    background-color: white;
    color: black;
}

#check-button {
    padding: 1rem;
    margin-top: 1rem;
    width: 20%;
    background-color: #B45309;
    color: black;
    border: 2px solid black;
    font-size: larger;
    font-weight: bold;
}

#error-message {
    padding: 0.5rem;
    font-size: larger;
}

.change-table {
    
}

table, th, td{
    border: 2px solid black;
    padding: 1rem;
    color: black;
    font-size: larger;
    font-weight: bold;
  }

.no-of-notes {
    background-color: aliceblue;
}